@use "./global.scss";

.brand-logo {
  font-size: 2.1rem;
  font-weight: 700;

  span {
    font-weight: 800;
    margin-left: 0.1rem;
    color: global.$purple;
  }
}

// header/topbar navigation
.header {
  position: relative;
  height: 7rem;
  z-index: 5;
  background-color: global.$white;

  @media (min-width: 1024px) {
    background-color: transparent;
  }

  .header-inner {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      padding: 0 3rem;
    }

    .header-logo-link {
      display: block;
      margin-right: 1rem;
      cursor: pointer;
      padding: 0.5rem 0;
      text-decoration: none;
      color: unset;
    }

    .header-nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5.2rem;

        li {
          margin-left: 0.8rem;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            display: none;
          }

          .header-nav-link {
            display: block;
            padding: 0.5rem;
            text-decoration: none;
            color: global.$black;
            font-size: 1.1rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;

            &:hover {
              color: global.$dark-grey;
            }

            @media (min-width: 1024px) {
              color: global.$white;
            }
          }

          @media (min-width: 768px) {
            margin-left: 2.4rem;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              display: block;
            }
          }
        }

        @media (min-width: 768px) {
          margin-right: 8.2rem;
        }
      }
    }

    .hamburger-box {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 7rem;
      width: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        .hamburger span {
          background-color: global.$pink;
        }
      }

      .hamburger {
        position: relative;
        width: 2rem;
        height: 1rem;

        span {
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: global.$black;
          border-radius: 2px;

          &:first-child {
            top: 0;
          }
          &:last-child {
            bottom: 0;
          }
        }
      }

      @media (min-width: 768px) {
        background-color: global.$white;
      }
    }
  }
}

// main navigation overlay
.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: global.$off-black;
  color: global.$white;
  z-index: 10;
  transform: translateY(-100%);

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 2rem;

    .topbar-close {
      cursor: pointer;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 1.5rem;
        path {
          fill: global.$pink;
        }
      }
    }

    @media (min-width: 768px) {
      padding: 0 3rem;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    padding: 0 2rem;

    .feature-column,
    .menu-column,
    .location-column {
      margin: 2.8rem 0;
    }

    a {
      list-style: none;
      text-decoration: none;
      color: global.$white;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    .column-heading {
      display: none;
      font-weight: 700;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 3.8rem;
      color: global.$dark-grey;
    }

    .feature-column,
    .location-column {
      display: none;
    }

    .feature-column {
      .feature-row {
        margin-bottom: 3.4rem;

        .feature-link {
          .feature-link-heading {
            font-size: 2.8rem;
            margin-bottom: 0.8rem;
            font-weight: 600;
          }

          .feature-link-sub {
            font-size: 1.6rem;
            color: global.$dark-grey;
            line-height: 1.4;
          }
        }
      }
    }

    .menu-column {
      text-align: center;

      .menu-row {
        margin-bottom: 3.4rem;

        .menu-link {
          display: block;
          font-size: 2.2rem;
          font-weight: 600;
        }
      }
    }

    .location-column {
      .location-row {
        margin-bottom: 2.4rem;

        .location-item {
          .location-item-heading {
            margin-bottom: 1.2rem;
            font-size: 2rem;
          }

          .location-item-sub {
            font-size: 1.6rem;
            color: global.$dark-grey;
            line-height: 1.4;
          }
        }
      }

      .location-email {
        margin: 4.4rem 0 2.4rem;
      }
    }

    @media (min-width: 768px) {
      .feature-column,
      .location-column,
      .column-heading {
        display: block;
      }

      .feature-column,
      .menu-column,
      .location-column {
        text-align: left;
      }

      .feature-column {
        max-width: 200px;
      }

      .location-column {
        max-width: 220px;
      }
    }

    @media (min-width: 1024px) {
      .feature-column {
        max-width: 280px;
        .feature-row {
          .feature-link {
            .feature-link-heading {
              font-size: 3.2rem;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .nav {
      justify-content: space-between;
      padding: 0 3rem;
    }
  }
}

// intro section
.intro {
  min-height: 60vh;

  .intro-content {
    margin: 12% 0 8rem 0;

    @media (min-width: 768px) {
      margin: 14% 0 8rem 0;
    }

    .intro-types {
      color: global.$pink;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 2.8rem;
    }

    .intro-heading {
      color: global.$black;
      font-size: 3.2rem;
      margin-bottom: 1.8rem;

      span {
        display: block;
        padding: 0.2rem 0;
      }

      .line-1 {
      }

      .line-2 {
        color: global.$purple;
      }

      @media (min-width: 1024px) {
        font-size: 3.8rem;
      }
    }

    .intro-sub {
      color: global.$off-purple;
      font-size: 1.6rem;
      margin-bottom: 3.8rem;

      span {
        display: block;
        padding: 0.3rem 0;
      }

      @media (min-width: 1024px) {
        font-size: 1.8rem;
      }
    }

    .intro-cta {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .intro-cta-button {
        outline: none;
        border: none;
        padding: 0.5rem 0;
        cursor: pointer;
        background-color: transparent;
        font-size: 1.7rem;
        color: global.$black;
        font-weight: 600;
      }

      &:hover {
        .intro-cta-button {
          color: global.$dark-grey;
        }

        svg {
          transform: translateX(1.6rem);
        }
      }

      svg {
        width: 1.5rem;
        margin-left: 1.2rem;
        transition: transform 200ms ease;
        path {
          fill: global.$pink;
        }
      }
    }
  }

  .intro-img {
    display: block;
    max-width: 100%;
    height: 40rem;
    width: 100%;
    object-fit: cover;

    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      right: 0;
      width: 45%;
      height: 100%;
    }
  }
}

// intro scene/overlay
.intro-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: none;

  .intro-panel-left,
  .intro-panel-right {
    background-color: global.$off-black;
    height: 100%;
    width: 50vw;
  }

  .intro-line {
    background-color: global.$white;
    width: 2px;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    border-radius: 2px;
  }

  .intro-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3.8rem;
    font-weight: 700;
    color: global.$white;
    span {
      font-weight: 800;
      margin-left: 0.1rem;
      color: global.$pink;
    }
  }
}
